.container{
    text-align: center;
}
.logo{
    width: 50%;
    margin-bottom: 20px;
}
.titulo{
    text-align: center;
    color:rgb(197, 21, 144);

}
.titulo_carrossel{
    color:rgb(197, 21, 144);
}
.img{
    opacity: 0.8;
}
